<!DOCTYPE html>
<html lang="de">
{%load static%}
<head>
    <title>{% block title %}{% endblock %}-Wiki</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'encyclopedia/style.css'%}"/>
</head>
<body>
    <div class="row">
        <div class="sidebar col-lg-2 col-md-3 col-sm-4 pt-0 pr-3 nav-border">
            <div class="row bg-success h-auto">
                <div class="col-3 p-2 text-right pr-0 bg-success">
                    <img src="{%static 'encyclopedia/Logo_blume.png' %}" height="50" />
                </div>
                <div class="col-auto p-2 bg-success">
                    <img src="{%static 'encyclopedia/Logo_text.png' %}" height="55" />
                </div>
            </div>
            <div class="row sidebar-item">
                <div class="col-3 text-right pr-2 sidebar-text">
                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </div>
                <div class="col text-left pr-2 sidebar-text">
                    <form action="search" method="post">
                        {%csrf_token%}
                        <input class=" form-control search" type="text" name="q" placeholder="Search Encyclopedia">
                    </form>
                </div>
            </div>
            <div class="row sidebar-item">
                <div class="col-3 text-right pr-2 sidebar-text">
                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </div>
                <div class="col sidebar-text">
                    <a class="sidebar-link" href="{% url 'home' %}">Home</a>
                </div>
            </div>
            <div class="row sidebar-item">
                <div class="col-3 text-right pr-2 sidebar-text">
                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-file-earmark-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V11a.5.5 0 0 0 1 0V9.5H10a.5.5 0 0 0 0-1H8.5V7z" />
                    </svg>
                </div>
                <div class="col sidebar-text">
                    <a class="sidebar-link" href="{% url 'pageCreate' %}">Create Page</a>
                </div>
            </div>
            <div class="row sidebar-item">
                <div class="col-3 text-right pr-2 sidebar-text">
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-dice-5-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 0a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V3a3 3 0 0 0-3-3H3zm2.5 4a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm8 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM12 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                    </svg>
                </div>
                <div class="col sidebar-text">
                    <a class="sidebar-link" href="{% url 'random' %}">Random Page</a>
                </div>
            </div>
        </div>
        <div class="main col-lg-5 col-md-8 col-sm-8 p- 3">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>